/* .auth-container{
  max-width:450px;
  margin:60px auto;
  background:white;
  padding:35px;
  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.auth-container h2{
  margin-bottom:25px;
  text-align:center;
  color:#2874f0;
}

.auth-container input{
  width:100%;
  padding:14px;
  margin-bottom:20px;
  border:1px solid #ddd;
  border-radius:6px;
  font-size:16px;
  box-sizing:border-box;
}

.auth-container button{
  width:100%;
  padding:14px;
  background:#2874f0;
  color:white;
  border:none;
  border-radius:6px;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.auth-container button:hover{
  background:#1f5ed6;
  transform:translateY(-2px);
}

.auth-container a{
  color:#2874f0;
  text-decoration:none;
  font-weight:500;
}

.auth-container a:hover{
  text-decoration:underline;
} */

.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.forgot-box {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.forgot-box h2 {
  margin-bottom: 15px;
}

.forgot-box p {
  margin-bottom: 15px;
}

.forgot-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-box button {
  width: 100%;
  padding: 10px;
  background: #2874f0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-box button:hover {
  background: #0d5be1;
}