.signup-container{
  width:900px;
  margin:50px auto;
  display:flex;
  background:#fff;
  box-shadow:0 0 10px rgba(0,0,0,0.15);
}

.signup-left{
  width:40%;
  background:#2874f0;
  color:white;
  padding:40px;
}

.signup-left h2{
  margin-bottom:20px;
}

.signup-right{
  width:60%;
  padding:40px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.signup-right input{
  padding:12px;
  border:1px solid #ddd;
  border-radius:4px;
}

.signup-btn{
  padding:12px;
  background:#fb641b;
  color:white;
  border:none;
  cursor:pointer;
  font-size:16px;
  border-radius:4px;
}

.signup-btn:hover{
  opacity:0.9;
}